<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>个人中心</title>
    <style>
      table,
      table tr td {
        border: 1px solid #ddd;
      }
      table tr td {
        vertical-align: middle;
      }
      table {
        width: 100%;
        border-collapse: collapse;
      }
      .avatar {
        font-size: 0;
      }
      .avatar > img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <sf-select v-model="$i18n.locale">
        <sf-option
          v-for="lang in langs"
          :key="lang.value"
          :label="lang.label"
          :value="lang.value"
        ></sf-option>
      </sf-select>
      <div style="width: 70%; margin: 60px auto 0;">
        <sf-title-content :title='$t("message.personalInfo")'>
          <sf-button type="primary" style="margin-bottom: 18px;" @click="edit"
            >{{$t("message.edit")}}</sf-button
          >
          <table>
            <tr>
              <td>
                <sf-label-value :label='$t("message.avatar")' :border="false">
                  <sf-upload
                    action="https://jsonplaceholder.typicode.com/posts/"
                    v-model="info.avatar"
                  >
                    <a class="avatar">
                      <img
                        src="https://cdn4.buysellads.net/uu/1/3386/1525189943-38523.png"
                        width="100"
                        height="100"
                      />
                    </a>
                  </sf-upload>
                </sf-label-value>
              </td>
              <td>
                <sf-label-value :label='$t("message.username")' :border="false">
                  <sf-input v-model="info.username"></sf-input>
                </sf-label-value>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <sf-label-value :label='$t("message.name")' :border="false">
                  <sf-input v-model="info.name"></sf-input>
                </sf-label-value>
              </td>
              <td>
                <sf-label-value
                  :label='$t("message.phoneNumber")'
                  :border="false"
                >
                  <sf-input type="phone" v-model="info.phone"></sf-input>
                </sf-label-value>
              </td>
              <td>
                <sf-label-value :label='$t("message.email")' :border="false">
                  <sf-input type="email" v-model="info.email"></sf-input>
                </sf-label-value>
              </td>
            </tr>
            <tr>
              <td>
                <sf-label-value :label='$t("message.password")' :border="false">
                  <sf-input
                    type="password"
                    password-reveal
                    v-model="info.password"
                  ></sf-input>
                </sf-label-value>
              </td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </sf-title-content>
        <sf-title-content :title='$t("message.colorTheme")'>
          <sf-label-value :label='$t("message.colorThemeSelect")'>
            <sf-theme v-model="theme"></sf-theme>
          </sf-label-value>
        </sf-title-content>
        <sf-title-content :title='$t("message.reminderSettings")'>
          <sf-label-value
            :label='$t("message.desktopNotifications")'
            :align-center-value="true"
          >
            <sf-switch
              :value="notification"
              @change="notificationToggle"
            ></sf-switch>
            <span style="color: #8e9eb5; font-size: 12px; margin-left: 40px;"
              >{{$t("message.point")}}</span
            >
          </sf-label-value>
        </sf-title-content>
      </div>
    </div>
    <script src="./lib/require/require.min.js"></script>
    <script src="./js/main.js"></script>
    <script src="./personalCenter.js"></script>
  </body>
</html>
